---
import Userimg from "../icons/User.astro";
---

<a
  href="#"
  class="border flex items-center cursor-pointer text-white bg-green-600 hover:bg-green-500 py-3 px-4 gap-5 rounded-lg "
>
  <Userimg />
  <div class="">
    <p class="font-bold text-lg">Portal del usuario</p>
    <p class="text-md">Realiza trámites y solicitudes rápidamente</p>
  </div>
</a> 
