---
import Layout from "../layouts/Layout.astro";
import Atencionalv from "../components/Atenciónalv.astro";
import Facebook from "../components/Facebookpage.astro";
---

<Layout title="Contacto">
  <main class="flex flex-col-2 justify-between mx-auto sm:max-w-[1154px] mt-7 sm:mt-32 mb-4">
    <Atencionalv />
    <Facebook />
  </main></Layout
>
