---
import PortalB from "../components/buttons/Portalusucontact.astro";
import Telfatencion from "../components/Telfatencion.astro";
---

<div class="flex">
  <div class="flex-wrap mx-auto items-center max-w-screen-lg mt-14 sm:mt-0 p-2">
    <div class="w-full">
      <h1 class="text-lg font-semibold mb-2">Atención al vecino</h1>
      <PortalB />
    </div>        
    <Telfatencion />
  </div>
  
</div>
