---
import PortalB from "../components/buttons/Portalusucontact.astro";
import Telfatencion from "../components/Telfatencion.astro";
---

<div class="flex justify-start">
  <div class="flex-wrap items-center max-w-screen-lg p-2">
    <div class="w-[396px]">
      <h1 class="text-md font-semibold mb-2">Atención al vecino</h1>
      <PortalB />
    </div>        
    <Telfatencion />
  </div>
  
</div>
