<div class="flex justify-center items-center max-w-screen-xl mx-auto mt-4 mb-4">
  <div class="border rounded-lg p-4 border-[#1a984d]">
    <div class="flex justify-center gap-24 flex-wrap">
      <div class="min-w-[300px] pl-2">
        <h3 class="font-bold text-lg mb-4">Contacto y Ubicación</h3>
        <p class="font-bold">Sede</p>
        <p class="mb-2">Av. Ricardo Elías Aparicio 740, La Molina</p>
        <p class="font-bold">Horario de Atención</p>
        <p class="mb-2">
          Lunes a viernes de 8:10 a.m. a 5:20 p.m. <br />
          Sábados de 8:10 a.m. a 1:00 p.m. (*)
        </p>
        <p class="mb-4 text-sm">
          (*) solo trámite de liquidación de pagos y caja.
        </p>
        <p class="font-bold">Central Telefónica</p>
        <p class="mb-6">(01) 754 4000</p>
        <div>
          <p class="font-bold">Redes Sociales</p>
          <div class="flex gap-1 mt-1">
            <a href="https://www.facebook.com/MunicipalidadDeLaMolina" target="_blank">
              <img
                src="/public/assets/facebook.png"
                class="w-6 h-6"
                alt="Facebook"
              /></a
            >
            <a href="https://x.com/Munimolina" target="_blank">
              <img src="/public/assets/x-corp.png" 
              class="w-6 h-6" 
              alt="X" />
              </a
            >
            <a href="https://www.instagram.com/munilamolina/" target="_blank">
              <img
                src="/public/assets/instagram.png"
                class="w-6 h-6"
                alt="Instagram"
              />
            </a>
            <a href="https://www.youtube.com/@munidelamolina" target="_blank">
              <img
                src="/public/assets/Youtube.png"
                class="w-6 h-6"
                alt="YouTube"
              />
            </a>
            <a href="https://www.tiktok.com/@munilamolina" target="_blank">
              <img
                src="/public/assets/Tiktok.png"
                class="w-6 h-6"
                alt="TikTok"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="min-w-[300px] pr-2">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15605.9641772137!2d-76.917098!3d-12.078499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c12ac6aa1435%3A0xa951d76356f7a79b!2sMunicipalidad%20Distrital%20de%20La%20Molina!5e0!3m2!1ses-419!2sus!4v1721630851759!5m2!1ses-419!2sus"
          class="w-[700px] h-[350px] rounded-lg"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
