<div class="flex justify-center items-center sm:max-w-screen-xl mx-2 sm:mx-auto mt-7 sm:mt-4 mb-4">
  <div class="border rounded-lg sm:p-4 border-[#1a984d]">
    <div class="flex sm:justify-center justify-evenly py-4 sm:px-0 sm:py-0 gap-4 sm:gap-24 text-sm flex-wrap">
      <div class="sm:min-w-[300px] min-w-[340px] text-left pl-0 sm:pl-2">
        <h3 class="font-bold text-lg sm:mb-4">Contacto y Ubicación</h3>
        <p class="font-semibold">Sede</p>
        <p class="mb-2">Av. Ricardo Elías Aparicio 740, La Molina</p>
        <p class="font-semibold">Horario de Atención</p>
        <p class="mb-2">
          Lunes a viernes de 8:10 a.m. a 5:20 p.m. <br />
          Sábados de 8:10 a.m. a 1:00 p.m. (*)
        </p>
        <p class="mb-3 text-sm">
          (*) solo trámite de liquidación de pagos y caja.
        </p>
        <p class="font-semibold">Central Telefónica</p>
        <p class="mb-3">(01) 754 4000</p>
        <div class="sm:mb-0 mb-5">
          <p class="font-semibold">Redes Sociales</p>
          <div class="flex gap-1 mt-1">
            <a href="https://www.facebook.com/MunicipalidadDeLaMolina" target="_blank">
              <img
                src="/assets/facebook.png"
                class="w-6 h-6"
                alt="Facebook"
              /></a
            >
            <a href="https://x.com/Munimolina" target="_blank">
              <img src="/assets/X-corp.png" 
              class="w-6 h-6" 
              alt="X" />
              </a
            >
            <a href="https://www.instagram.com/munilamolina/" target="_blank">
              <img
                src="/assets/instagram.png"
                class="w-6 h-6"
                alt="Instagram"
              />
            </a>
            <a href="https://www.youtube.com/@munidelamolina" target="_blank">
              <img
                src="/assets/Youtube.png"
                class="w-6 h-6"
                alt="YouTube"
              />
            </a>
            <a href="https://www.tiktok.com/@munilamolina" target="_blank">
              <img
                src="/assets/Tiktok.png"
                class="w-6 h-6"
                alt="TikTok"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="sm:min-w-[300px] min-w-[320px] sm:mb-0 mb-2 pr-0 sm:pr-2 sm:my-auto">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15605.9641772137!2d-76.917098!3d-12.078499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c12ac6aa1435%3A0xa951d76356f7a79b!2sMunicipalidad%20Distrital%20de%20La%20Molina!5e0!3m2!1ses-419!2sus!4v1721630851759!5m2!1ses-419!2sus"
          class="sm:w-[700px] w-[350px]  sm:h-[260px] rounded-lg"
          style="border:0"
          title="Ubicación de la Municipalidad de La Molina"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
