<div class="mt-4">
  <div class="mb-2">
    <p class="font-bold text-lg">Datos del distrito</p>
  </div>
  <div class="md:flex md:justify-center">
    <div class="md:flex md:gap-4">
      <div class="border rounded-lg p-6 border-[#3a5aa7]">
        <p class="text-lg">Población</p>
        <p class="font-bold text-xl">168,839</p>
        <p>Habitantes</p>
        <p>Datos del último censo de Población y Vivienda 2022</p>
      </div>
      <div class="border rounded-lg w-[360px] p-6 border-[#59b224]">
        <p class="text-lg">Ubicación</p>
        <p class="font-bold text-xl">Lima</p>
        <p class="text-green-600">Mapa del distrito</p>
      </div>
      <div class="border rounded-lg p-6 border-[#1a984d]">
        <p class="text-lg">Alcalde</p>
        <p class="font-bold text-xl">Esteban Uceda Guerra García</p>
        <p>11 Regidores</p>
        <p>Ver Concejo Municipal</p>
      </div>
    </div>
  </div>
</div>
