<section
  class="flex flex-wrap justify-center items-center mx-auto max-w-screen-xl p-2">
  <div class="sm:mt-4 mt-0 gñe justify-evenly">
    <div class="mb-2">
      <p class="font-bold text-xl">Datos del distrito</p>
    </div>
    <div class="sm:flex sm:justify-center">
      <div class="sm:flex sm:gap-4">
        <div class="border rounded-lg p-6 mb-4 sm:mb-0 border-[#3a5aa7]">
          <p class="sm:text-lg text-xl">Población</p>
          <p class="font-bold text-xl">168,839</p>
          <p>Habitantes</p>
          <p>Datos del último censo de Población y Vivienda 2022</p>
        </div>
        <div
          class="border rounded-lg sm:w-[360px] mb-4 sm:mb-0 p-6 border-[#59b224]">
          <p class="sm:text-lg text-xl">Ubicación</p>
          <p class="font-bold text-xl">Lima</p>
          <p class="text-green-600">Mapa del distrito</p>
        </div>
        <div class="border rounded-lg p-6 border-[#1a984d]">
          <p class="sm:text-lg text-xl">Alcalde</p>
          <p class="font-bold text-xl">Esteban Uceda Guerra García</p>
          <p>11 Regidores</p>
          <p>Ver Concejo Municipal</p>
        </div>
      </div>
    </div>
  </div>
</section>
