---
import Contfooter from './Contfooter.astro'
---
<Contfooter/>
<footer class="bg-gray-200 rounded-lg mt-2 mb-2 shadow mx-2 sm:mx-24">
  <div
    class="w-full mx-auto font-semibold max-w-screen-xl items-center py-3 sm:py-1 flex text-[14px]
    sm:text-sm sm:items-center justify-center gap-1 sm:gap-4">
    <span class="text-black sm:text-center"
      ><small class="font-bold">©Municipalidad de La Molina</small>
    </span>
    <span
      ><img
        src="/public/favicon.png"
        class="w-8 sm:w-6 h-auto"
        alt="logo municipalidad"
      /></span
    >
    <span class="text-black text-center"
      ><small class="font-bold">Políticas de Privacidad 2024</small></span
    >
  </div>
</footer>
