---
import Librorec from "./icons/Librorec.astro";
import Portaltransp from "./icons/Portaltransp.astro";
import Bolsadet from "./icons/Bolsadet.astro";
import Button1 from "./buttons/Portalusuario.astro";
import Button2 from "./buttons/Pagosenlínea.astro";
import Dcorrrupcion from "./icons/Dcorrupcion.astro";
---

<div class="sm:hidden w-full mx-auto mt-4 max-w-screen-sm">
  <div class="flex justify-center mb-5 items-center gap-2">
    <Button1 />
    <Button2 />
  </div>
  <div class="flex justify-center mb-5 items-center gap-6">
    <a href="#"><Librorec /></a>
    <a href="#"><Portaltransp /></a>
    <a href="#"><Bolsadet /></a>
    <a href="#"><Dcorrrupcion /></a>
  </div>
</div>
