<div class="flex flex-wrap items-center max-w-screen-lg p-2 mt-4">
  <div class="flex flex-col">
    <div class="flex1 w-[395px]">
      <p class="font-semibold mb-2">Otros teléfonos de atención</p>
      <div class="border border-green-600 mb-4 p-2 rounded-md">
        <p>Central Telefónica</p>
        <p class="font-bold">(01) 754 4000</p>
      </div>
      <div class="flex gap-4 mb-4">
        <div class="border border-blue-600 w-full h-auto p-2 rounded-md">
          <p>Aló Rentas (Anexos)</p>
          <p class="font-bold">360 | 361 | 323</p>
        </div>
        <div class="border border-green-600 w-full h-auto p-2 rounded-md">
          <p>Riegos- Desastres</p>
          <p class="font-bold">974 592 111</p>
        </div>
      </div>
      <div class="flex gap-4 mb-4">
        <div class="border border-blue-600 w-full h-auto p-2 rounded-md">
          <p>Veterinaria (Anexo)</p>
          <p class="font-bold">312</p>
        </div>
        <div class="border border-green-600 w-full h-auto p-2 rounded-md">
          <p>Renolque - Grúa</p>
          <p class="font-bold">994 799 604</p>
        </div>
      </div>
      <div class="border border-green-600 mb-4 p-2 rounded-md">
        <p>Ambulancias – Emergencias – COE</p>
        <p class="font-bold">974 592 111 974 486 557</p>
      </div>
      <div class="border border-green-600 mb-4 p-2 rounded-md">
        <p>Canal de Denuncias por Actos de Corrupción</p>
        <p class="font-bold">968 793 625</p>
      </div>
      <div class="border border-green-600 mb-4 p-2 rounded-md">
        <p>EcoRecicla – Operaciones Ambientales</p>
        <p class="font-bold">970 219 498</p>
      </div>
      <a href="">
        <div class="bg-green-600 p-2 flex justify-center rounded-lg text-white hover:bg-green-500">
            <p>Ver más teléfonos de atención</p>
        </div>
      </a>
    </div>
  </div>
</div>
